{% spaceless %}
    {% load i18n %}
    {% autoescape off %}
        {% blocktrans %}You're receiving this e-mail because you  has been changed a password for your user account at {{ site_name }}.{% endblocktrans %}

        {% trans "Your password has been changed from [%(old_password)s] to [%(new_password)s]." %}

        {% trans "If your Password is an invalid update, please update your username and password through Password finding and Password finding on the login." %}

        {% trans "Thank you." %}

        {{ site_name }} {{ domain }}
    {% endautoescape %}
{% endspaceless %}
