<style>
    img, iframe {
        max-width: 100%;
        height: auto;
    }
</style>
<div class="row">
    <div class="col-3 py-4">
        <span class="text-light bg-dark" style="padding: 3px 5px;">
            <i class="fa fa-list-ol" aria-hidden="true"></i></span> <strong>{{ 'Total results' | translate }} : {{ search.search_list.total }}</strong>
    </div>
    <div class="col">
        <ul class="nav float-right">
            <li class="nav-item py-3 pl-1" ng-repeat="order in search.order_list">
                <button type="button" class="btn btn-sm btn-block btn-outline-secondary" ng-class="{active: order.id == search.selected_order}" ng-click="search.click_order(order.id)" title="{{ order.name | translate }}">{{ order.name | translate }}</button>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col small">
        <div class="card mb-2" ng-repeat="value in search.search_list.results">
            <div class="card-body">
                <p class="card-text text-truncate font-weight-bold">
                    <a style="color: #5bc0de" href ng-click="search.click_item(value.id)">
                        <i class="fa fa-external-link" aria-hidden="true"></i> {{ value.subject }}</a>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item img-fluid">
                    <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    <div ta-bind="text" ng-model="value.content" ta-readonly='disabled'></div>
                </li>
                <li class="list-group-item img-fluid" ng-show="value.reply_content">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                    <div ta-bind="text" ng-model="value.reply_content" ta-readonly='disabled'></div>
                </li>
                <li class="list-group-item  text-light bg-secondary">
                    <div class="cart-text">
                        <div>
                            <i class="fa fa-folder-open-o" aria-hidden="true"></i> {{ value.category_name }}
                            <i class="fa fa-user-o" aria-hidden="true"></i> {{ value.user_name }}
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"> </i> {{ value.recommend_count }}
                            <i class="fa fa-commenting-o" aria-hidden="true"></i> {{ value.reply_count }}
                            <i class="fa fa-envelope-open-o" aria-hidden="true"></i> {{ value.click_count }}
                            <i class="fa fa-calendar" aria-hidden="true"> </i> {{ value.local_datetime }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Pagination -->
<div paging
     ul-class="pagination pagination-sm justify-content-center"
     page="search.search_list.page"
     page-size="search.search_list.page_size"
     total="search.search_list.total"
     paging-action="search.get_page(page)">
</div>

<!-- Modal -->
<div class="modal fade" id="search_message_modal" tabindex="-1" role="dialog" aria-labelledby="search_message_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-sm small" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h7 class="modal-title" id="search_message_modal_label"><i class="fa fa-lg fa-coffee" aria-hidden="true"></i> <strong>{{ 'Search' | translate }} {{ 'Message' | translate }}</strong></h7>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-info text-light">
                <div ng-repeat="message in search.messages">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ message }}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-info" data-dismiss="modal">{{ 'Close' | translate }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
