{% load i18n %}
{% autoescape off %}
    {% blocktrans %}You're receiving this e-mail because you has been updated a password for your user account at {{ site_name }}.{% endblocktrans %}

    {% blocktrans %}Your password has been updated from [{{ old_password }}] to [{{ new_password }}].{% endblocktrans %}

    {% trans "If your Password is an invalid update, please update your username and password through Password finding and Password finding on the login." %}

    {% trans "Thank you." %}

    {{ site_name }} : {{ protocol }}://{{ domain }}
{% endautoescape %}
